@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  padding: 0;
  margin: 0;
  text-decoration: none !important;
  list-style-type: none !important;
  box-sizing: border-box !important;
}

.ff_roboto {
  font-family: "Roboto", sans-serif !important;
}

:root {
  /* -----FONT SIZE---- */
  --fs-i: 12px;
  --fs-ii: 14px;
  --fs-iii: 16px;
  --fs-iv: 18px;
  --fs-v: 20px;
  --fs-vi: 24px;
  --fs-vii: 26px;
  --fs-viii: 28px;
  --fs-ix: 32px;
  --fs-x: 36px;
}

/* -------FONT SIZE------- */
.fs_i {
  font-size: var(--fs-i) !important;
}

.fs_ii {
  font-size: var(--fs-ii) !important;
}

.fs_iii {
  font-size: var(--fs-iii) !important;
}

.fs_iv {
  font-size: var(--fs-iv) !important;
}

.fs_v {
  font-size: var(--fs-v) !important;
}

.fs_vi {
  font-size: var(--fs-vi) !important;
}

.fs_vii {
  font-size: var(--fs-vii) !important;
}

.fs_viii {
  font-size: var(--fs-viii) !important;
}

.fs_ix {
  font-size: var(--fs-ix) !important;
}

.fs_x {
  font-size: var(--fs-x) !important;
}
